/*prefers-color-scheme Remember to use this */
.filter {
  display: flex;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: hsl(200, 50%, 40%);
  border-width: 1px;
  border-style: solid;
}

.filter div{
  border-color: hsl(200, 50%, 40%);
  border-width: 1px;
  border-style: solid;
  background-color: hsl(217, 10%, 25%);
}

.filter h3 {
  margin: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  background-color: hsl(217, 10%, 15%);
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: hsl(200, 50%, 40%);
}

.filter .selected {
  font-weight: 600;
  background-color: hsl(200, 0%, 25%);
}
.filter ul {
  list-style-position: inside;
  display: grid;
  margin:6px;
  padding:0px;
}

.filter ul.patches {
  grid-template-columns: auto auto;
}

.filter ul.classes {
  grid-template-columns: auto;
}

.filter ul.tasks {
  grid-template-columns: auto;
}

.filter li {
  list-style-type: none;
  text-align: center;
}

/* The position of the node boxes */
section.timerContainer {
  padding: 10px 16px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /*auto-fill sets the grid container to have the largest number of columns it can without going out of the viewport*/
}

div.node {
  align-self: baseline;
  min-height: 140px;
  margin: 5px;
}

/* The layout within the node boxes */
div.node {
  font-family: "Times New Roman", serif;
  font-size: 18px;
  background-color: hsl(217, 10%, 25%);
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-template-rows: max-content auto;
}

/* Node box header*/
div.node header {
  background-color: hsl(217, 10%, 15%);
  border-bottom-style: solid;
  font-weight: 600;
  border-bottom-width: 2px;
  border-bottom-color: hsl(200, 50%, 40%);
  display: grid;
  padding: 2px;
}
div.node header:hover {
  background-color: hsl(217, 10%, 18%);
  cursor: pointer;
}
div.node header span.location {
  grid-column: 1;
}
div.node header span.timer {
  grid-column: 2;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

div.node header span.timer.activeNode {
  color: green;
}

/*Node box body*/
div.node div.nodeBody {
  font-weight: 500;
}

div.node div.nodeBody .clickable:hover {
  background-color: hsl(217, 10%, 38%);
  cursor: pointer;
}

div.node div.nodeBody ul {
  margin: 0;
  padding: 0;
}

div.node div.nodeBody li {
  list-style-type: none;
  text-align: left;
  margin: 2px;
}

/* The tables inside node boxes */
div.node div.nodeBody table {
  width: 100%;
  height: 100%;
}
div.node div.nodeBody table,
div.node div.nodeBody td {
  border: 1px solid black;
  padding: 3px;
  border-collapse: collapse;
}

div.node div.nodeBody table.details thead tr th > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}
div.node div.nodeBody table.details thead tr th div > button {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  width: 15%;
}
div.node div.nodeBody table.details thead tr th div > span {
  width: 100%;
  padding: 3px;
}

/* Node description */
div.node div.nodeBody th.nodeName {
  font-size: 15px;
}
