
.active{
  color: #FFFFFF;
  background-color: #555555;
}

nav.sidebar {
  background-color: hsl(200, 0%, 15%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.content {
  color: hsl(200, 71%, 73%);
  background-color: hsl(200, 0%, 10.4%);
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

::selection {
  background: hsl(200, 0%, 30%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: hsl(200, 0%, 30%); /* Gecko Browsers */
}